<div style="padding-left:50px;" id="mat-chip-list">
    <mat-chip-list aria-label="categories selection">
        <mat-chip matTooltip="All" class="chip" color="warn"  selected>All</mat-chip>
        <mat-chip style="color:white; background-color: grey; margin-top:10px; margin-bottom: 10px;"class="chip">Electronics</mat-chip>
        <mat-chip style="color:white; background-color: grey; margin-top:10px; margin-bottom: 10px;"class="chip">Computers</mat-chip>
        <mat-chip style="color:white; background-color: grey; margin-top:10px; margin-bottom: 10px;"class="chip">Mechanics</mat-chip>
        <mat-chip style="color:white; background-color: grey; margin-top:10px; margin-bottom: 10px;"class="chip">Aeronautics</mat-chip>
        <mat-chip style="color:white; background-color: grey; margin-top:10px; margin-bottom: 10px;"class="chip">Metallurgy</mat-chip>
      </mat-chip-list>
    </div>